/* itemListContainer */

.Bienvenida {
    color: rgb(54, 148, 198);
}

.tabNav {
    padding: 15px 3px 15px 3px;
    color: whitesmoke;
    text-decoration: none;

}

.tabNav:hover {
    background-color: #E58C0F;
    color: whitesmoke;
}


.carritoNav {
    padding: 15px 3px 15px 3px;
    color: whitesmoke;
    text-decoration: none;

}

.carritoNav:hover {
    background-color: #E58C0F;
    color: whitesmoke;
}

/* cartWidget.js */
.cartWidget-Container{
    display: flex;
    justify-content: flex-start;
}

.cartWidget-icon {
    /* padding: 20px 10px 40px 10px; */
    height: 25;
    width: 25;
}

.cartWidget-cantidad {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 10px 10px 40px 10px; */
}

/* ItemCount.js */
.contador-Card {
    background-color: red;
}

.material-symbols-outlined {
    /* padding: 10px 10px 10px 0px; */
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48,
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html , body , #root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

body {
    background-color: #22243b;  
    color: rgb(255, 255, 255);  
    font-family: Arial;  
    text-align: center;  
    padding-top: 4rem;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

nav a {
    margin-left: 1rem;
}


.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
    margin-top: 1rem;
}

main {
    padding: 0px 30px 30px 30px;
    flex-grow: 1;
    text-align: left;
}

.item {
    color :#22243b;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    transition: transform 0.2s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background-color: #262626;
}



.loader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.page__header {
    margin-bottom: 3rem;
}

ul {list-style: none;}

.detail-image {
    max-width: 300px;
    height: auto;
}

.cartIcon {
    padding: 15px 3px 15px 3px;
    color: #E58C0F;
    text-decoration: none;
}
    
.cartIcon:hover {
    background-color: #E58C0F;
    color: whitesmoke;
}


.text-light {
    padding: 10px 0px 10px 10px;
}


.last_buttons{
    display:flex;
    justify-content:space-between;
    margin-top:20px
}
.qty_btn{display:flex;
    justify-content:center;
    align-items:center;
    height:40px;
    width:100px;
    border-radius:25px;
    background-color:#eff0f2;
    font-size:15px;
    cursor:pointer;
    transition:all 0.5s
}


.img-perfil {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
} 

.qty_btn:hover{background-color:#9d9fa3}.qty_btn p{padding:0 15px;font-weight:700}.money_bag{display:flex;justify-content:center;align-items:center}.money_bag h3{margin-right:5px}.money_bag button{height:40px;width:100px;background-color:#51beff;border:none;border-radius:25px;font-size:12px;color:#fff;cursor:pointer;transition:all 0.5s}.money_bag button:hover{background-color:#107bbb}.money_bag button i{margin-right:5px}

.perfil {
    margin: auto; 
    padding-top: 150px;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }